</main>

<footer id="footer">
    <i class="con-icon fa-brands fa-twitter"></i>
    <i class="con-icon fa-brands fa-facebook-f"></i>
    <i class="con-icon fa-brands fa-instagram"></i>
    <i class="con-icon fa-solid fa-envelope"></i>
    <p>© Copyright
        <%= new Date().getFullYear(); %>
            Blog Rise</p>
</footer>
</body>

</html>