<%- include("partials/header.ejs")  %>
    <!-- Title -->
    <div class="title row">
        <div class="col-lg-12">
            <h1>Voyage through Time and Space: Chronicles of Wisdom, Creativity, and Exploration.</h1>
        </div>
    </div>
    </div>
    </section>

    <!-- Features -->
    <section id="features">
        <div class="row">
            <div class="feature-box col-lg-4">
                <i class="icon fa-solid fa-circle-check fa-4x"></i>
                <h3>Social Sharing</h3>
                <p>Integration with social media platforms.</p>
            </div>
            <div class="feature-box col-lg-4">
                <i class="icon fa-solid fa-bullseye fa-4x"></i>
                <h3>Responsive Design</h3>
                <p>Ensure that the app is optimized for various screen sizes and devices.</p>
            </div>
            <div class="feature-box col-lg-4">
                <i class="icon fa-solid fa-heart fa-4x"></i>
                <h3>Offline Reading</h3>
                <p>Capability for users to save blog posts for offline reading.</p>
            </div>
        </div>
    </section>

    <!-- Testimonials -->
    <section id="testimonials">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="4000">
                    <h2>"A good book is an education of the heart. It enlarges your sense of human possibility what human nature is of what happens in the world. It's a creator of inwardness."</h2>
                    <em>Maria Popova, "Brain Pickings"</em>
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                    <h2 class="testimonial-text ">"Happiness is letting go of what you think your life is supposed to look like and celebrating it for everything that it is."</h2>
                    <em>Joanna Goddard, "Cup of Jo"</em>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </section>
    <%- include("partials/footer.ejs")  %>